mat-form-field {
    width: 40%;
}

.mat-elevation-z8 {
    box-shadow: none !important;
}
.btn-clear {
    background-color: aqua;
    border: 0;
    padding: 10px 20px;
    margin-left: 14px;
    border-radius: 6px;
    cursor: pointer;
}